.video-background {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.video-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 0;
}

.video-background .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.middle-text {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 20px;
  color: white;
}

.home-navbar {
  position: absolute;
  bottom: 0;
  padding: 0;
}
